redmine/files/2015/04/150420113640_RepoFacturaV3.WSDL

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8-promoted-b146 svn-revision#13443. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8-promoted-b146 svn-revision#13443. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://servidor.ws.rfe.chap.ja.es/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://servidor.ws.rfe.chap.ja.es/" name="FacturaEWSImplJaxWSService">
<types>
<xs:schema xmlns:tns="http://servidor.ws.rfe.chap.ja.es/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://servidor.ws.rfe.chap.ja.es/">

<xs:element name="descargarFactura" type="tns:descargarFactura"/>

<xs:element name="descargarFacturaResponse" type="tns:descargarFacturaResponse"/>

<xs:element name="descargarSolicitudAnulaciones" type="tns:descargarSolicitudAnulaciones"/>

<xs:element name="descargarSolicitudAnulacionesResponse" type="tns:descargarSolicitudAnulacionesResponse"/>

<xs:element name="visualizarFacturaE" type="tns:visualizarFacturaE"/>

<xs:element name="visualizarFacturaEPDF417" type="tns:visualizarFacturaEPDF417"/>

<xs:element name="visualizarFacturaEPDF417Response" type="tns:visualizarFacturaEPDF417Response"/>

<xs:element name="visualizarFacturaEResponse" type="tns:visualizarFacturaEResponse"/>

<xs:element name="visualizarFacturaHtml" type="tns:visualizarFacturaHtml"/>

<xs:element name="visualizarFacturaHtmlResponse" type="tns:visualizarFacturaHtmlResponse"/>

<xs:complexType name="visualizarFacturaEPDF417">
<xs:sequence>
<xs:element name="oficinaContable" type="xs:string" minOccurs="0"/>
<xs:element name="numeroRegistroFacturaRCF" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="visualizarFacturaEPDF417Response">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="visualizarFacturaHtml">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="visualizarFacturaHtmlResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="visualizarFacturaE">
<xs:sequence>
<xs:element name="oficinaContable" type="xs:string" minOccurs="0"/>
<xs:element name="numeroRegistroFacturaRCF" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="visualizarFacturaEResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="descargarSolicitudAnulaciones">
<xs:sequence>
<xs:element name="oficinaContable" type="xs:string" minOccurs="0"/>
<xs:element name="unidadTramitadora" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="descargarSolicitudAnulacionesResponse">
<xs:sequence>
<xs:element name="return" type="tns:solicitudAnulacionWS" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="solicitudAnulacionWS">
<xs:complexContent>
<xs:extension base="tns:abstractEntity">
<xs:sequence>
<xs:element name="codigoInternoAnulacion" type="xs:int" minOccurs="0"/>
<xs:element name="estadoSolicitudAnulacion" type="xs:int" minOccurs="0"/>
<xs:element name="fechaHoraSolicitudAnulacion" type="xs:dateTime" minOccurs="0"/>
<xs:element name="motivoAnulacion" type="xs:string" minOccurs="0"/>
<xs:element name="numeroRegistroFactura" type="xs:string" minOccurs="0"/>
<xs:element name="oficinaContable" type="xs:string" minOccurs="0"/>
<xs:element name="organoGestor" type="xs:string" minOccurs="0"/>
<xs:element name="unidadTramitadora" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="abstractEntity" abstract="true">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="descargarFactura">
<xs:sequence>
<xs:element name="oficinaContable" type="xs:string" minOccurs="0"/>
<xs:element name="numeroRegistroFacturaRCF" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="descargarFacturaResponse">
<xs:sequence>
<xs:element name="return" type="tns:facturaWS" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="facturaWS">
<xs:sequence>
<xs:element name="anexosFactura" type="tns:anexoWS" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="bicSwift" type="xs:string" minOccurs="0"/>
<xs:element name="codError" type="xs:string" minOccurs="0"/>
<xs:element name="codigoDirOficinaContable" type="xs:string" minOccurs="0"/>
<xs:element name="codigoDirOrganoGestor" type="xs:string" minOccurs="0"/>
<xs:element name="codigoDirUnidadTramitadora" type="xs:string" minOccurs="0"/>
<xs:element name="codigoFacturaProveedor" type="xs:string" minOccurs="0"/>
<xs:element name="codigoOrganoGestorRCF" type="xs:string" minOccurs="0"/>
<xs:element name="denominacionFactura" type="xs:string" minOccurs="0"/>
<xs:element name="ejercicio" type="xs:int" minOccurs="0"/>
<xs:element name="estado" type="xs:int" minOccurs="0"/>
<xs:element name="estadoAnulacion" type="xs:int" minOccurs="0"/>
<xs:element name="estadoComentario" type="xs:string" minOccurs="0"/>
<xs:element name="fechaCambioEstadoEvolucion" type="xs:dateTime" minOccurs="0"/>
<xs:element name="fechaExpedicion" type="xs:dateTime" minOccurs="0"/>
<xs:element name="fechaHoraRegistroPUEF" type="xs:dateTime" minOccurs="0"/>
<xs:element name="fechaHoraRegistroRCF" type="xs:dateTime" minOccurs="0"/>
<xs:element name="fechaHoraRegistroREP" type="xs:dateTime" minOccurs="0"/>
<xs:element name="fechaHoraUltimaActualizacion" type="xs:dateTime" minOccurs="0"/>
<xs:element name="ibanCuenta" type="xs:string" minOccurs="0"/>
<xs:element name="idEvolucion" type="xs:int" minOccurs="0"/>
<xs:element name="idNumeroRegistro" type="xs:string" minOccurs="0"/>
<xs:element name="importeBruto" type="xs:double" minOccurs="0"/>
<xs:element name="importeNeto" type="xs:double" minOccurs="0"/>
<xs:element name="importePendiente" type="xs:double" minOccurs="0"/>
<xs:element name="nifCesionario" type="xs:string" minOccurs="0"/>
<xs:element name="nifContratista" type="xs:string" minOccurs="0"/>
<xs:element name="numeroFacturaCUO" type="xs:string" minOccurs="0"/>
<xs:element name="numeroFacturaRCF" type="xs:string" minOccurs="0"/>
<xs:element name="razonSocialCesionario" type="xs:string" minOccurs="0"/>
<xs:element name="razonSocialContratista" type="xs:string" minOccurs="0"/>
<xs:element name="textoCodDir3Error" type="xs:string" minOccurs="0"/>
<xs:element name="versionEFactura" type="xs:string" minOccurs="0"/>
<xs:element name="xmlFactura" type="xs:base64Binary" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="anexoWS">
<xs:sequence>
<xs:element name="contenidoDocumentoAnexo" type="xs:base64Binary" minOccurs="0"/>
<xs:element name="formatoFicheroAnexo" type="xs:string" minOccurs="0"/>
<xs:element name="idFicheroAnexo" type="xs:string" minOccurs="0"/>
<xs:element name="nombreFicheroAnexo" type="xs:string" minOccurs="0"/>
<xs:element name="numeroRegistroFactura" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
</types>
<message name="descargarFactura">
<part name="parameters" element="tns:descargarFactura"/>
</message>
<message name="descargarFacturaResponse">
<part name="parameters" element="tns:descargarFacturaResponse"/>
</message>
<message name="visualizarFacturaE">
<part name="parameters" element="tns:visualizarFacturaE"/>
</message>
<message name="visualizarFacturaEResponse">
<part name="parameters" element="tns:visualizarFacturaEResponse"/>
</message>
<message name="visualizarFacturaEPDF417">
<part name="parameters" element="tns:visualizarFacturaEPDF417"/>
</message>
<message name="visualizarFacturaEPDF417Response">
<part name="parameters" element="tns:visualizarFacturaEPDF417Response"/>
</message>
<message name="descargarSolicitudAnulaciones">
<part name="parameters" element="tns:descargarSolicitudAnulaciones"/>
</message>
<message name="descargarSolicitudAnulacionesResponse">
<part name="parameters" element="tns:descargarSolicitudAnulacionesResponse"/>
</message>
<message name="visualizarFacturaHtml">
<part name="parameters" element="tns:visualizarFacturaHtml"/>
</message>
<message name="visualizarFacturaHtmlResponse">
<part name="parameters" element="tns:visualizarFacturaHtmlResponse"/>
</message>
<portType name="FacturaEWSImplJaxWS">
<operation name="descargarFactura">
<input wsam:Action="http://servidor.ws.rfe.chap.ja.es/FacturaEWSImplJaxWS/descargarFacturaRequest" message="tns:descargarFactura"/>
<output wsam:Action="http://servidor.ws.rfe.chap.ja.es/FacturaEWSImplJaxWS/descargarFacturaResponse" message="tns:descargarFacturaResponse"/>
</operation>
<operation name="visualizarFacturaE">
<input wsam:Action="http://servidor.ws.rfe.chap.ja.es/FacturaEWSImplJaxWS/visualizarFacturaERequest" message="tns:visualizarFacturaE"/>
<output wsam:Action="http://servidor.ws.rfe.chap.ja.es/FacturaEWSImplJaxWS/visualizarFacturaEResponse" message="tns:visualizarFacturaEResponse"/>
</operation>
<operation name="visualizarFacturaEPDF417">
<input wsam:Action="http://servidor.ws.rfe.chap.ja.es/FacturaEWSImplJaxWS/visualizarFacturaEPDF417Request" message="tns:visualizarFacturaEPDF417"/>
<output wsam:Action="http://servidor.ws.rfe.chap.ja.es/FacturaEWSImplJaxWS/visualizarFacturaEPDF417Response" message="tns:visualizarFacturaEPDF417Response"/>
</operation>
<operation name="descargarSolicitudAnulaciones">
<input wsam:Action="http://servidor.ws.rfe.chap.ja.es/FacturaEWSImplJaxWS/descargarSolicitudAnulacionesRequest" message="tns:descargarSolicitudAnulaciones"/>
<output wsam:Action="http://servidor.ws.rfe.chap.ja.es/FacturaEWSImplJaxWS/descargarSolicitudAnulacionesResponse" message="tns:descargarSolicitudAnulacionesResponse"/>
</operation>
<operation name="visualizarFacturaHtml">
<input wsam:Action="http://servidor.ws.rfe.chap.ja.es/FacturaEWSImplJaxWS/visualizarFacturaHtmlRequest" message="tns:visualizarFacturaHtml"/>
<output wsam:Action="http://servidor.ws.rfe.chap.ja.es/FacturaEWSImplJaxWS/visualizarFacturaHtmlResponse" message="tns:visualizarFacturaHtmlResponse"/>
</operation>
</portType>
<binding name="FacturaEWSImplJaxWSPortBinding" type="tns:FacturaEWSImplJaxWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="descargarFactura">
<soap:operation soapAction="urn:descargarFactura" style="document"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="visualizarFacturaE">
<soap:operation soapAction="urn:visualizarFacturaE" style="document"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="visualizarFacturaEPDF417">
<soap:operation soapAction="urn:visualizarFacturaEPDF417" style="document"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="descargarSolicitudAnulaciones">
<soap:operation soapAction="urn:descargarSolicitudAnulaciones" style="document"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="visualizarFacturaHtml">
<soap:operation soapAction="urn:visualizarFacturaHtml" style="document"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="FacturaEWSImplJaxWSService">
<port name="FacturaEWSImplJaxWSPort" binding="tns:FacturaEWSImplJaxWSPortBinding">
<soap:address location="http://cancanaprun1.chap.junta-andalucia.es:80/rfewebpru/servicios"/>
</port>
</service>
</definitions>
