redmine/files/2015/02/150218084304_SRCFWebServiceProxyService_OK.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="https://webservice.juntadeandalucia.es"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:soap-enc="http://schemas.xmlsoap.org/soap/encoding/"
	xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" name="SRCFWebServiceProxy"
	targetNamespace="https://webservice.juntadeandalucia.es">
	<types>
		<xsd:schema targetNamespace="https://webservice.juntadeandalucia.es">
			<xsd:complexType name="SRCFFactura">
				<xsd:all>
					<xsd:element name="numeroRegistro" type="xsd:string"
						nillable="true" />
					<xsd:element name="codigoDirOficinaContable" type="xsd:string"
						nillable="true" />
					<xsd:element name="codigoDirOrganoGestor" type="xsd:string"
						nillable="true" />
					<xsd:element name="codigoDirUnidadTramitadora" type="xsd:string"
						nillable="true" />
					<xsd:element name="fechaHoraRegistro" type="xsd:string"
						nillable="true" />
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="ArrayOfSRCFFactura">
				<xsd:complexContent>
					<xsd:restriction base="soap-enc:Array">
						<xsd:attribute ref="soap-enc:arrayType"
							wsdl:arrayType="tns:SRCFFactura[]" />
					</xsd:restriction>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:complexType name="SRCFFacturas">
				<xsd:all>
					<xsd:element name="facturas" type="tns:ArrayOfSRCFFactura" />
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="SRCFFacturaAnulacion">
				<xsd:all>
					<xsd:element name="numeroRegistro" type="xsd:string"
						nillable="true" />
					<xsd:element name="codigoDirOficinaContable" type="xsd:string"
						nillable="true" />
					<xsd:element name="codigoDirOrganoGestor" type="xsd:string"
						nillable="true" />
					<xsd:element name="codigoDirUnidadTramitadora" type="xsd:string"
						nillable="true" />
					<xsd:element name="fechaHoraSolicitudAnulacion" type="xsd:string"
						nillable="true" />
					<xsd:element name="motivoAnulacion" type="xsd:string"
						nillable="true" />
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="ArrayOfSRCFFacturaAnulacion">
				<xsd:complexContent>
					<xsd:restriction base="soap-enc:Array">
						<xsd:attribute ref="soap-enc:arrayType"
							wsdl:arrayType="tns:SRCFFacturaAnulacion[]" />
					</xsd:restriction>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:complexType name="SRCFFacturasAnulacion">
				<xsd:all>
					<xsd:element name="facturas" type="tns:ArrayOfSRCFFacturaAnulacion" />
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="SRCFFacturaCompletaAnexo">
				<xsd:all>
					<xsd:element name="ficheroAnexo" type="xsd:string"
						nillable="true" />
					<xsd:element name="nombreFicheroAnexo" type="xsd:string"
						nillable="true" />
					<xsd:element name="formatoAnexo" type="xsd:string"
						nillable="true" />
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="ArrayOfSRCFFacturaCompletaAnexo">
				<xsd:complexContent>
					<xsd:restriction base="soap-enc:Array">
						<xsd:attribute ref="soap-enc:arrayType"
							wsdl:arrayType="tns:SRCFFacturaCompletaAnexo[]" />
					</xsd:restriction>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:complexType name="SRCFFacturaCompleta">
				<xsd:all>
					<xsd:element name="numero" type="xsd:string" nillable="true" />
					<xsd:element name="serie" type="xsd:string" nillable="true" />
					<xsd:element name="importe" type="xsd:string" nillable="true" />
					<xsd:element name="proveedor" type="xsd:string"
						nillable="true" />
					<xsd:element name="nombreFicheroFactura" type="xsd:string"
						nillable="true" />
					<xsd:element name="ficheroFactura" type="xsd:string"
						nillable="true" />
					<xsd:element name="formatoFactura" type="xsd:string"
						nillable="true" />
					<xsd:element name="anexos" type="tns:ArrayOfSRCFFacturaCompletaAnexo"
						nillable="true" />
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="SRCFFacturaConfirmacionDescarga">
				<xsd:all>
					<xsd:element name="numeroRegistro" type="xsd:string"
						nillable="true" />
					<xsd:element name="codigoDirOficinaContable" type="xsd:string"
						nillable="true" />
					<xsd:element name="codigoEstado" type="xsd:string"
						nillable="true" />
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="SRCFFacturaCambioEstado">
				<xsd:all>
					<xsd:element name="numeroRegistro" type="xsd:string"
						nillable="true" />
					<xsd:element name="codigoEstado" type="xsd:string"
						nillable="true" />
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="SRCFEstado">
				<xsd:all>
					<xsd:element name="flujo" type="xsd:string" nillable="true" />
					<xsd:element name="nombre" type="xsd:string" nillable="true" />
					<xsd:element name="nombrePublico" type="xsd:string"
						nillable="true" />
					<xsd:element name="codigoEstado" type="xsd:string"
						nillable="true" />
					<xsd:element name="descripcion" type="xsd:string"
						nillable="true" />
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="ArrayOfSRCFEstado">
				<xsd:complexContent>
					<xsd:restriction base="soap-enc:Array">
						<xsd:attribute ref="soap-enc:arrayType"
							wsdl:arrayType="tns:SRCFEstado[]" />
					</xsd:restriction>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:complexType name="SRCFEstados">
				<xsd:all>
					<xsd:element name="estados" type="tns:ArrayOfSRCFEstado" />
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="SRCFUnidadDir">
				<xsd:all>
					<xsd:element name="nombre" type="xsd:string" nillable="true" />
					<xsd:element name="codigoDir" type="xsd:string"
						nillable="true" />
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="SRCFOrganoGestorUnidadTramitadora">
				<xsd:all>
					<xsd:element name="organoGestor" type="tns:SRCFUnidadDir"
						nillable="true" />
					<xsd:element name="unidadTramitadora" type="tns:SRCFUnidadDir"
						nillable="true" />
					<xsd:element name="oficinaContable" type="tns:SRCFUnidadDir"
						nillable="true" />
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="ArrayOfSRCFOrganoGestorUnidadTramitadora">
				<xsd:complexContent>
					<xsd:restriction base="soap-enc:Array">
						<xsd:attribute ref="soap-enc:arrayType"
							wsdl:arrayType="tns:SRCFOrganoGestorUnidadTramitadora[]" />
					</xsd:restriction>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:complexType name="SRCFOrganosGestoresUnidadesTramitadoras">
				<xsd:all>
					<xsd:element name="relaciones"
						type="tns:ArrayOfSRCFOrganoGestorUnidadTramitadora" />
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="SRCFFacturaGestionAnulacion">
				<xsd:all>
					<xsd:element name="numeroRegistro" type="xsd:string"
						nillable="true" />
					<xsd:element name="codigoEstado" type="xsd:string"
						nillable="true" />
				</xsd:all>
			</xsd:complexType>
		</xsd:schema>
	</types>
	<portType name="SRCFWebServiceProxyPort">
		<operation name="solicitarNuevasFacturas">
			<documentation>solicitarNuevasFacturas</documentation>
			<input message="tns:solicitarNuevasFacturasIn" />
			<output message="tns:solicitarNuevasFacturasOut" />
		</operation>
		<operation name="solicitarNuevasAnulaciones">
			<documentation>solicitarNuevasAnulaciones</documentation>
			<input message="tns:solicitarNuevasAnulacionesIn" />
			<output message="tns:solicitarNuevasAnulacionesOut" />
		</operation>
		<operation name="descargarFactura">
			<documentation>descargarFactura</documentation>
			<input message="tns:descargarFacturaIn" />
			<output message="tns:descargarFacturaOut" />
		</operation>
		<operation name="confirmarDescargaFactura">
			<documentation>confirmarDescargaFactura</documentation>
			<input message="tns:confirmarDescargaFacturaIn" />
			<output message="tns:confirmarDescargaFacturaOut" />
		</operation>
		<operation name="cambiarEstadoFactura">
			<documentation>cambiarEstadoFactura</documentation>
			<input message="tns:cambiarEstadoFacturaIn" />
			<output message="tns:cambiarEstadoFacturaOut" />
		</operation>
		<operation name="consultarEstados">
			<documentation>consultarEstados</documentation>
			<input message="tns:consultarEstadosIn" />
			<output message="tns:consultarEstadosOut" />
		</operation>
		<operation name="consultarUnidades">
			<documentation>consultarUnidades</documentation>
			<input message="tns:consultarUnidadesIn" />
			<output message="tns:consultarUnidadesOut" />
		</operation>
		<operation name="gestionarSolicitudAnulacionFactura">
			<documentation>gestionarSolicitudAnulacionFactura</documentation>
			<input message="tns:gestionarSolicitudAnulacionFacturaIn" />
			<output message="tns:gestionarSolicitudAnulacionFacturaOut" />
		</operation>
	</portType>
	<binding name="SRCFWebServiceProxyBinding" type="tns:SRCFWebServiceProxyPort">
		<soap:binding style="rpc"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<operation name="solicitarNuevasFacturas">
			<soap:operation
				soapAction="https://webservice.juntadeandalucia.es#solicitarNuevasFacturas" />
			<input>
				<soap:body use="literal" namespace="https://webservice.juntadeandalucia.es" />
			</input>
			<output>
				<soap:body use="literal" namespace="https://webservice.juntadeandalucia.es" />
			</output>
		</operation>
		<operation name="solicitarNuevasAnulaciones">
			<soap:operation
				soapAction="https://webservice.juntadeandalucia.es#solicitarNuevasAnulaciones" />
			<input>
				<soap:body use="literal" namespace="https://webservice.juntadeandalucia.es" />
			</input>
			<output>
				<soap:body use="literal" namespace="https://webservice.juntadeandalucia.es" />
			</output>
		</operation>
		<operation name="descargarFactura">
			<soap:operation
				soapAction="https://webservice.juntadeandalucia.es#descargarFactura" />
			<input>
				<soap:body use="literal" namespace="https://webservice.juntadeandalucia.es" />
			</input>
			<output>
				<soap:body use="literal" namespace="https://webservice.juntadeandalucia.es" />
			</output>
		</operation>
		<operation name="confirmarDescargaFactura">
			<soap:operation
				soapAction="https://webservice.juntadeandalucia.es#confirmarDescargaFactura" />
			<input>
				<soap:body use="literal" namespace="https://webservice.juntadeandalucia.es" />
			</input>
			<output>
				<soap:body use="literal" namespace="https://webservice.juntadeandalucia.es" />
			</output>
		</operation>
		<operation name="cambiarEstadoFactura">
			<soap:operation
				soapAction="https://webservice.juntadeandalucia.es#cambiarEstadoFactura" />
			<input>
				<soap:body use="literal" namespace="https://webservice.juntadeandalucia.es" />
			</input>
			<output>
				<soap:body use="literal" namespace="https://webservice.juntadeandalucia.es" />
			</output>
		</operation>
		<operation name="consultarEstados">
			<soap:operation
				soapAction="https://webservice.juntadeandalucia.es#consultarEstados" />
			<input>
				<soap:body use="literal" namespace="https://webservice.juntadeandalucia.es" />
			</input>
			<output>
				<soap:body use="literal" namespace="https://webservice.juntadeandalucia.es" />
			</output>
		</operation>
		<operation name="consultarUnidades">
			<soap:operation
				soapAction="https://webservice.juntadeandalucia.es#consultarUnidades" />
			<input>
				<soap:body use="literal" namespace="https://webservice.juntadeandalucia.es" />
			</input>
			<output>
				<soap:body use="literal" namespace="https://webservice.juntadeandalucia.es" />
			</output>
		</operation>
		<operation name="gestionarSolicitudAnulacionFactura">
			<soap:operation
				soapAction="https://webservice.juntadeandalucia.es#gestionarSolicitudAnulacionFactura" />
			<input>
				<soap:body use="literal" namespace="https://webservice.juntadeandalucia.es" />
			</input>
			<output>
				<soap:body use="literal" namespace="https://webservice.juntadeandalucia.es" />
			</output>
		</operation>
	</binding>
	<service name="SRCFWebServiceProxyService">
		<port name="SRCFWebServiceProxyPort" binding="tns:SRCFWebServiceProxyBinding">
			<soap:address location="https://test.e-factura.net/Puef-EF" />
		</port>
	</service>
	<message name="solicitarNuevasFacturasIn">
		<part name="oficina_contable" type="xsd:string" />
	</message>
	<message name="solicitarNuevasFacturasOut">
		<part name="return" type="tns:SRCFFacturas" />
	</message>
	<message name="solicitarNuevasAnulacionesIn">
		<part name="oficina_contable" type="xsd:string" />
	</message>
	<message name="solicitarNuevasAnulacionesOut">
		<part name="return" type="tns:SRCFFacturasAnulacion" />
	</message>
	<message name="descargarFacturaIn">
		<part name="numeroRegistro" type="xsd:string" />
	</message>
	<message name="descargarFacturaOut">
		<part name="return" type="tns:SRCFFacturaCompleta" />
	</message>
	<message name="confirmarDescargaFacturaIn">
		<part name="oficinaContable" type="xsd:string" />
		<part name="numeroRegistro" type="xsd:string" />
		<part name="codigoRCF" type="xsd:string" />
	</message>
	<message name="confirmarDescargaFacturaOut">
		<part name="return" type="tns:SRCFFacturaConfirmacionDescarga" />
	</message>
	<message name="cambiarEstadoFacturaIn">
		<part name="oficinaContable" type="xsd:string" />
		<part name="numeroRegistro" type="xsd:string" />
		<part name="codigoEstado" type="xsd:string" />
		<part name="comentarios" type="xsd:string" />
	</message>
	<message name="cambiarEstadoFacturaOut">
		<part name="return" type="tns:SRCFFacturaCambioEstado" />
	</message>
	<message name="consultarEstadosIn" />
	<message name="consultarEstadosOut">
		<part name="return" type="tns:SRCFEstados" />
	</message>
	<message name="consultarUnidadesIn" />
	<message name="consultarUnidadesOut">
		<part name="return" type="tns:SRCFOrganosGestoresUnidadesTramitadoras" />
	</message>
	<message name="gestionarSolicitudAnulacionFacturaIn">
		<part name="numeroRegistro" type="xsd:string" />
		<part name="oficinaContable" type="xsd:string" />
		<part name="codigoEstado" type="xsd:string" />
		<part name="comentarios" type="xsd:string" />
	</message>
	<message name="gestionarSolicitudAnulacionFacturaOut">
		<part name="return" type="tns:SRCFFacturaGestionAnulacion" />
	</message>
</definitions>
